---
import Layout from '@/layouts/Layout.astro';
import { ModeToggle } from "@/components/ToggleTheme.tsx";
---

<Layout title="Anish Shobith P S">
	<main>
		hello
		<ModeToggle client:load />
	</main>
</Layout>

